@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using SprintRecord.Models
@using SprintRecord.Services
@inject SprintContext  dbContext
@inject SprintService  sprintService

<style>
    .button {
        background-color: #525288;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 4px;
        cursor: pointer;
    }
</style>


<button class="button">Add Team</button>

<div class="card-columns">
    @foreach (var item in sprintService.GetActiveTeamStatuses())
    {
        <div class="card" >
            <div class="card-body">
                <div class="card-text">Team: </div>
                <h4 class="card-title">@item.team.Name</h4>
                <div class="text-body">Total Sprints: @item.SprintCounts</div>
                <div class="text-body">Average Velocity: @item.AverageVelocity</div>
                <a asp-page="./TeamDetail" asp-route-id="@item.team.Id">See Detail</a>
            </div>
        </div>
    }
</div>

<script src="_framework/blazor.server.js"></script>
