@using SprintRecord.Models
@using Microsoft.AspNetCore.Components.Web
@inject SprintRecord.Services.JsonTeamService teamService

<style>
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px 4px;
        cursor: pointer;
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
      background-color: #7A7374;
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(226, 225, 228, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 10px;
      font-size: 20px;
      text-align: center;
    }
    .input{
        width: 60px;
    }
</style>

<button class="button" @onclick="e => click()">Add Sprint</button>
@if (showPanel)
{
    <div>
        <h5>Select Team: </h5>
        <select @bind="selectedName" @onclick="e => selectTeam()" >
            <option value="Select">Select</option>
            @foreach (Team team in teamService.GetTeams())
            {
                <option value="@team.Name">@team.Name</option>
            }
        </select>
    </div>
    <div>
        <h5>Year: </h5>
        <input value="@DateTime.Now.Year" />
    </div>
    <div>
        <h5>Period:</h5>
        <input value="" />
    </div>
    <input type="button" value="Add this Sprint" />
    @if (selectedTeam != null)
    {
        <div>@selectedTeam.MemberStatus.Count</div>
        <div class="grid-container">
            @foreach (var member in selectedTeam.MemberStatus)
            {
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
                <div class="grid-item">
                    <input class="input" />
                </div>
            }
        
        </div>
    }

}

@code {
    bool showPanel = false;
    string selectedName;
    Team selectedTeam;

    void click()
    {
        showPanel = !showPanel;
    }

    void selectTeam()
    {
        if (selectedName == null || selectedName == "Select")
        {
            return;
        }
        selectedTeam = teamService.GetTeams().First(x => x.Name == selectedName);
    }
}
